    
<h2>Wng Coding Task</h2>
<h4>Numeric Sequence Calculator</h4>  
<hr />

<div class="row">
    <div class="col-md-4">
        <h2>Enter a number</h2>
        <p>The number can be anywhere between 0 and infinity (+ve only).</p>
        <p>The number cannot have any decimal points.</p>
    </div>
    <div class="col-md-4">
        <h2>We calculate a sequence</h2>
        <p>Using our secret algorithm</p>
    </div>
    <div class="col-md-4">
        <h2>The Results Appear</h2>
        <p>
            S3.1 The following numeric sequences shall be displayed:
            S3.1.1 All numbers up to and including the number entered,
            S3.1.2 All odd numbers up to and including the number entered,
            S3.1.3 All even numbers up to and including the number entered,
            S3.1.4 All numbers up to and including the number entered, except
            when,
            S3.1.4.1 A number is a multiple of 3 output C, and when,
            S3.1.4.2 A number is a multiple of 5 output E, and when,
            S3.1.4.3 A number is a multiple of both 3 and 5 output Z,
            S3.1.5 All fibonacci number up to and including the number entered.
        </p>
    </div>
</div>
