
<h2>Wng Coding Task <small>Numeric Sequence Calculator</small></h2>
<hr />

<div ng-controller="IndexController">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Enter a number</h2>
            <p>The number must be a whole number (no decimal point & positive) between 0 and infinity.</p>
            <br />
            <p class="text-center">You entered <span ng-cloak>{{number}}</span></p>

            <form name="form" ng-submit="form.$valid && generateSequences()" novalidate class="form-inline text-center" ng-cloak>
                <div class="form-group">
                    <label class="sr-only">Enter a number</label>
                    <input type="number" ng-model="number" ng-pattern="/^[0-9]+$/" required name="number" class="form-control" placeholder="Enter a number" />
                </div>

                <input id="calculateBtn" type="submit" value="Generate Sequences" class="btn btn-primary" />

                <div ng-messages="form.number.$error" ng-show="form.number.$dirty && form.number.$invalid" class="text-danger" role="alert">
                    <p ng-message="pattern">Please enter positive whole numbers only</p>
                </div>

            </form>
            <br />

            <result message="message"></result>
            <br />

            <h4>We then calculate sequences</h4>
            <p>S3.1 The following numeric sequences shall be displayed</p>
            <br />

            <ul class="list-group" ng-cloak>
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">All Numbers Sequence</h4>
                    <p>S3.1.1 All numbers up to and including the number entered</p>
                    <span ng-repeat="item in sequences.all">{{item}}</span>
                </li>

                <li class="list-group-item">
                    <h4 class="list-group-item-heading">Odd Numbers Sequence</h4>
                    <p>S3.1.2 All odd numbers up to and including the number entered</p>
                    <span ng-repeat="item in sequences.odd">{{item}}</span>
                </li>

                <li class="list-group-item">
                    <h4 class="list-group-item-heading">Even Numbers Sequence</h4>
                    <p>S3.1.3 All even numbers up to and including the number entered</p>
                    <span ng-repeat="item in sequences.even">{{item}}</span>
                </li>

                <li class="list-group-item">
                    <h4 class="list-group-item-heading">Conditional Numbers Sequence</h4>
                    <p>
                        S3.1.4 All numbers up to and including the number entered, except when
                        <ul>
                            <li>S3.1.4.1 A number is a multiple of 3 output C</li>
                            <li>S3.1.4.2 A number is a multiple of 5 output E</li>
                            <li>S3.1.4.3 A number is a multiple of both 3 and 5 output Z</li>
                        </ul>
                    </p>
                    <span ng-repeat="item in sequences.conditional">{{item}}</span>
                </li>

                <li class="list-group-item">
                    <h4 class="list-group-item-heading">Fibonacci Numbers Sequence</h4>
                    <p>S3.1.5 All fibonacci number up to and including the number entered</p>
                    <span ng-repeat="item in sequences.fibonacci track by $index">{{item}}</span>
                </li>
            </ul>
        </div>
    </div>

</div>

@section scripts{
    <script src="~/js/home/indexController.js"></script>
}

@*  {{$last ? '' : ','}}<p ng-message="required">Please enter a number</p>  ng-disabled="form.$invalid"*@


